.container {
    background: linear-gradient(118deg, #000 5.21%, #7A5CDF 47.40%, #D0BDFF 100%), #FFF;
    color: white;
    padding: 20px;
  }
  
  .nft-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .nft-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }