.wall{
    position: relative;
    width:1vw;
    height:25vw;
    flex-shrink: 0;
    margin: 0px;
    padding:0px;
}

/* buttons */

  .buttons{
    
    background-color: #0c0a0c;
    
  }
  .btn_nav{
    float: right;
  }
  .btn-15 {
    
    margin-top: 1%;
    
    margin-right: 4%;
    margin-bottom: 0%;
    color: #fff;
    border-radius: 5px;
    padding: 0.8vw 2vw;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    
    outline: none;
    background: #C05DEE;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #7c04b3;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

.smart{
    background: linear-gradient(136deg, #000 25.21%, #32265b 80.65%, #615483 99.39%), #FFF;

    overflow-x: hidden !important;
    height:auto;
    padding-bottom:10%;
    width:100vw;
   position: absolute;
   left:0;
   top: 0;
}
.smart_title{
    margin-top: 15vw;
    text-align: center;
    color: #FFF;
    font-size: 4vw;
}
.smart_image_circle{
    display: flex;
    justify-content: center;
   margin-top: 4vw;
}
.smart_circle_image1{
    height: 22vw;
    margin-right:-4vw ;
}
.smart_circle_image2{
    height: 20vw;
}
.smart_circle_image3{
    height: 22.5vw;
    margin-left:-4vw ;
}
.smart_text{
    display: flex;
    justify-content: center;
    margin-top: 4vw;
    color: #FFF;
    font-size: 2vw;
    font-family: Outfit;
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    margin-left: 2vw;
    margin-right: 2vw;
    line-height: 3vw;
}
.smart_text_p{
    margin-top: 2.5vh;
}
.smart_membership_box{
    display: flex;
    justify-content: center;
    margin-top: 8vw;
}
.smart_membership_box_inside{
    border: white 1px solid;
    padding:1.5vw;
    border-radius: 10px;
    padding-left:20vw ;
    padding-right: 20vw;
}
.smart_membership_text{
    color: #FFF;
    text-align: center;
    font-size: 3vw;
    font-family: Outfit;
    font-style: normal;
    font-weight: 800;
    line-height: 3vw;

}
.smart_membership_price_box{
    margin-top: 2vw;
    background-color: #FFF;
    border-radius: 10px;
    padding: 1vw;
}
.smart_membership_price{
    color: #5E04CF;
    text-align: center;
    font-size: 3vw;
    font-family: Outfit;
    font-style: normal;
    font-weight: 800;
    line-height: 2.2vw;
}
.smart_interested_text{
    text-align: center;
    color: #FFF;
    text-align: center;
    font-size: 1.8vw;
    font-family: Outfit;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}
.interseted_button{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5vw;
    padding: 0.8vw;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 6px;
    background: var(--purple-500, #805AD5);
    color: #FFF;
    font-size: 1.2vw;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2vw;
}

.smart_card_space{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6vw;
}
.smart_card{
    height:auto;
    margin-left:2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    margin-top: 3vw;

}
.smart_card_photo{
    height:20vw;

}
.smart_card_text{
    color: #FFF;
    text-align: center;
    font-size: 1.2vw;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: 28px;
}
.smart_card_buy{
    margin: 0 auto;
    border-radius: 6px;
    background: var(--purple-500, #805AD5);
    padding:0.5vw;
    color: #FFF;
    margin-top: 1.5vw;
    border:0px;
    font-size: 1vw;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2vw;
}