/* WalletSetupBox.module.css */
.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
  }
  
  .box {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .spinner {
    color: white;
  }
  
  .error-box {
    color: red;
  }
  